body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* шапка */
.header {
  background-color: #eeeeee;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation img {
  width: 160px;
  height: 65px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 440px;

  display: flex;
  justify-content: space-between;
}

.basket {
  width: 160px;
}

.site-navigation a,
.basket a {
  color: #000000;
}

.site-navigation a:hover,
.basket a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* промо-слайды */
.promo {
  background-color: #eeeeee;
}

.promo-slides {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-slide .promo-slide-title,
.page-title h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.btn {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.slides-switches {
  list-style: none;
}

/* услуги */
.services-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.services-item {
  width: 300px;
}

.services-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
}

/* о нас */
.about-company .container {
  display: flex;
  justify-content: space-between;
}

.about-company-left {
  width: 660px;
}

.about-company-title,
.popup-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-company-list-title,
.indicators-title {
  font-weight: 700;
  color: #000000;
}

.about-company-right {
  width: 360px;
}

.about-company-logo {
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 208px;
}

.value {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000000;
}

.percent {
  font-size: 25px;
  vertical-align: super;
}

.value-description {
  line-height: 18px;
}

/* партнёры */
.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.partners-item {
  width: 260px;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item img:hover {
  opacity: 1;
}

.partners-item img:active {
  opacity: 0.1;
}

/* контакты */
.map-placeholder {
  width: 100%;
  height: auto;
}

.contacts-info {
  background-color: #ffffff;
}

.contacts-info-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts-info-description,
.contacts-info-tel {
  line-height: 18px;
}

/* футер */
.footer .container {
  display: flex;
}

.footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
  margin-right: 140px;

  display: flex;
  justify-content: space-between;
}

.footer-social-item {
  width: 80px;
}

.call-to-follow {
  width: 560px;
}

.call-to-follow p {
  margin: 0;
}

.call-to-follow-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.call-to-follow-description {
  line-height: 22px;
}

/* модалка */
.popup {
  background-color: #ffffff;
}

.feedback-form label {
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

/* КАТАЛОГ */
/* шапка */
.main-navigation .header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation-item-current a {
  border-bottom: 2px solid #fb565a;
}

/* название страницы */
.page-title {
  background-color: #eeeeee;
}

.page-title h1 {
  margin: 0;
}

/* страница с фильтрами, сортировкой, пагинацией и товарами */
.page-content {
  display: flex;
  justify-content: space-between;
}

/* фильтр */
.filters {
  width: 260px;
}

.filters-form fieldset {
  border: none;
}

.filters-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filters-form label {
  line-height: 20px;
}

.filters-range-label {
  text-transform: uppercase;
}

.filters-radio-label:hover {
  color: #000000;
}

.filters-radio-input:disabled+label,
.filters-check-input:disabled+label {
  color: rgba(40, 49, 54, 0.3);
}

.btn-filters {
  color: #000000;
  background-color: #eeeeee;
}

.btn-filters:hover {
  background-color: #dfdfdf;
}

.btn-filters:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

/* каталог-правая-сторона */
.catalog-right-side {
  width: 760px;
}

/* сортировка */
.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  width: 160px;
}

.sorting-content {
  width: 360px;

  display: flex;
  justify-content: space-between;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 280px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sorting-item {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 25px;
}

.sorting-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item-current,
.sorting-item:active {
  color: #000000;
}

.sorting-controls {
  width: 60px;
}

/* перечень товаров */
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  width: 360px;
}

.img-browser {
  opacity: 0.12;
}

.img-browser:hover {
  opacity: 1;
}

.catalog-item-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-description {
  line-height: 18px;
}

/* пагинация */
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.pagination-list a,
.pagination-item {
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-list a:hover,
.pagination-item:hover {
  background-color: #dfdfdf;
}

.pagination-list a:active,
.pagination-item:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.pagination-item-current {
  background-color: #ffffff;
}

/* сетка */
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
  box-sizing: border-box;
}